#loading-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    transition: opacity 1000ms ease-in-out;
    opacity: 1;
}
#loading-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

#loading-overlay.hidden div{
    display: none;
}

#cat-wrap {
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 8em;
}
#marco{
    width: 1325px;
    height: 500px;
    border-radius: 16px;
    position: relative;
}

#cielo{
    border-radius: 16px;
    width: 1325px;
    height: 500px;
    background: linear-gradient(to bottom,  #0B4C5F 0%,#04B4AE 52%,rgba(20, 20, 20, 0) 70%); 
    position: absolute;
    z-index: -30;
    top: 0;
    margin-top: 2em;
}

#edificios{
    background: url('../resources/pictures/loading-screen/edificiosOne_fsg7nx.svg');
    height: 500px; 
    width: 1325px;
    z-index: -10;
    top: 6.5em;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    -webkit-animation: animar_edificios 120s linear infinite;
    -ms-animation: animar_edificios 120s linear infinite;
    -moz-animation: animar_edificios 120s linear infinite;
    position: absolute;
}

@keyframes  animar_edificios {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
@-webkit-keyframes  animar_edificios {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
@-ms-keyframes  animar_edificios {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
@-moz-keyframes  animar_edificios {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

#luna {
    width: 6em;
    height: 6em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 30px 10px 0 #F7F8E0;
    -webkit-box-shadow: 30px 10px 0 #F7F8E0;
    box-shadow: 30px 10px 0 #F7F8E0;
    margin-top: 1em;
    margin-left: 70%;
    z-index: -19;
    transform: translateY(40px);
}

#muro{
    height: 23em;
    width: 100%;
    background: -moz-linear-gradient(top,  rgb(40, 40, 40) 0%, rgb(40, 40, 40) 7%, white 19%); 
    background: -webkit-linear-gradient(top,  rgb(40, 40, 40) 0%,white 19%); 
    background: linear-gradient(to bottom,  rgb(40, 40, 40) 0%, rgb(40, 40, 40) 7%,white 19%); 
    bottom:0px; 
}

#gato{
    background: url('../resources/pictures/loading-screen/gatito_pushui.svg');
    height: 297px; 
    width: 507.5px;
    margin-top: -3em;
    margin-left: 2em;
    z-index: 10;
    -webkit-animation: sprite-animation 1.2s steps(16,end) infinite;
    -moz-animation: sprite-animation 1.2s steps(16,end) infinite; 
    -ms-animation: sprite-animation 1.2s steps(16,end) infinite; 
    animation: sprite-animation 1.2s steps(16,end) infinite;
}

@-webkit-keyframes sprite-animation { 
    from { background-position: 0 0; }
    to { background-position: -8120px 0; } 
}

@-ms-keyframes sprite-animation { 
    from { background-position: 0 0; }
    to { background-position: -8120px 0; }
}

@-moz-keyframes sprite-animation { 
    from { background-position: 0 0; }
    to { background-position: -8120px 0; }
}

@keyframes sprite-animation { 
    from { background-position: 0 0; }
    to { background-position: -8120px 0; }
}
#loading-label {
    font-size: 2.2em;
    width: 80%;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    margin-top: -2em;
    color: black;
    display: none;
}

@media (max-width: 1500px) {
    #walking-cat {
        transform: scale(0.9) translateX(100px);
    }
    #luna {
        margin-left: 50%;
        width: 8em;
        height: 8em;
        margin-top: -2em;
    }
    #gato {
        margin-top: -8em;
    }
}

@media (max-width: 755px) {
    #walking-cat {
        transform: scale(0.6) translateX(150px);
    }
    #luna {
        margin-left: 50%;
        width: 8em;
        height: 8em;
        margin-top: -2em;
    }
    #gato {
        margin-top: -4.4em;
    }

}

@media (max-width: 570px) {
    #walking-cat {
        transform: scale(0.5) translateX(200px);
    }
    #luna {
        margin-left: 50%;
        width: 8em;
        height: 8em;
        margin-top: -2em;
    }
    #loading-label {
        margin-top: -5em;
    }
    #gato {
        margin-top: -6em;
    }
}

@media (max-width: 410px) {
    #walking-cat {
        transform: scale(0.36) translateX(200px);
    }
    #luna {
        margin-left: 50%;
        width: 8em;
        height: 8em;
        margin-top: -2em;
    }
    #loading-label {
        margin-top: -9em;
    }
}